*{
    margin: 0;
    padding: 0;
}


/* header style */

.bannar{

    max-width: 1500px;
    max-height: 500px;
    background-image: url('../images/banner/banner1.png');
    
    text-align: right;
    background-size: cover;
    padding-top: 250px;
   background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;


}

.bannar-title{

font-size: 60px;
font-family:  sans-serif;
padding-bottom: 35px;
font-weight: 850;
color: rgb(19, 13, 13);
width: 500px;
height: 250px;
padding-left: 750px;


   
}

.bannar-subtitle{
    padding-bottom: 20px;
    color: rgb(133, 126, 117);
    font-size: 20px;
    width: 450px;
    
    padding-left: 800px;



}


.praimary-btn{
    padding: 20px 26px;
    background-color: rgb(230, 86, 29);
    color: aliceblue;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family:  sans-serif;
    font-weight: 700;
    
 
}


.sub-bannar{
padding-right:  250px;

padding-bottom: 300px;

   
} 

/* meddle section style  */

.meddle{

    display: flex;
   
    align-items: center;
    padding-left: 200px;
    padding-top: 200px;
}

.meddle-title{

    padding-left: 100px;
  
   
   
}

.meddle-subtitle{
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: 800;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
 
.meddle-style{

padding: 5px;
width: 445px;
color: rgb(83, 78, 70);
font-size: 18px;

}

.list-item{

    padding-top:  20px;
    
    padding-left:20px;
    color: rgb(83, 78, 70);
    list-style: none;


}
 
    ul li {
        list-style-image: url('../images/cheakm.png' ) ;
        
        width: 600px;
        font-size: 18px;
        padding-left: 5px;
        
        
      }

      /* containe  */

      .container{
                
        display: flex;
        gap: 100px;
        padding-left: 90px;
        margin: 20px 200px;
        text-align: justify;
        align-content: center;
        padding-bottom: 80PX;
        
      }


      .heading{
        text-align: center;
        padding-top: 90px;
        padding-bottom: 20px;
        font-family:  Tahoma,  Verdana, sans-serif;
        
        
      }

      


      .container-title1{
        padding: 10px;
        font-size: 20px;
      
      color: rgb(19, 17, 17);
      
     
     
      }
      .container-subtitle1{
        padding-left: 10px;
        font-size:20px;
        color: rgb(90, 81, 81);
       
      }

      .img-1{
        padding-left: 20PX; 
         

      }
       /* color-gradiend  */
      
      .gradiend{
          background: url('../images/watch.png');
        
          position: relative;
          height: 200px;
            margin-left: 350px;
            background-repeat: no-repeat;
            width: 800px;
            border-radius: 10px;

      } 

      .gradiend-title{
        background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 63, 5));
        width: 100%;
        height: 100%;
        padding-left: 80px;
        border-radius: 10px;
        
      
       
      }

      .gradiend-subtitle{
          padding-top: 30px;
          justify-items: right;
          font-family:Arial, Helvetica, sans-serif;
          width: 300px;
          padding-bottom: 10px;
          font-weight: 900;
          font-size: 32px;
          
         
      }

      .btn{
       
       
        color:rgb(230, 86, 29) ;
        border-radius: 5px;
        border: none;
        font-size: 18px;    
        font-weight: 700;
        padding: 15px 20px;
            
      }

      /* future-section */
       
.future{
  width: 1500px;
display: flex;
align-items: center;
gap: 600px;
padding-left: 300px;
height: 500px;
background-color:black;

}


  
.futuer-heading{
font-size: 50px;
padding-bottom: 10px;
font-family:cursive;
color: aliceblue;
}



.future-title{
  text-align: justify;
  width: 250px;
  padding-bottom: 10px;
  color: aliceblue;

  
  }

  .icon{

padding: 10px 15px;

  }

  ul , li{
padding: 5px;
text-align: justify;
list-style: none;
font-size: 20px;


  } 

  .contact{

padding-bottom: 30px;
font-size: 40px;
text-align: justify;
font-family:cursive;
color: #fff;

  }
 .contact-title{
display: block;
padding: 10px 15px;
border: .5 solid #fff;
border-radius: 5px;
  


 }
  
 .last{
  padding: 5px;
 }
